### Application
# Point to your application code, wish should be available at `/var/www`
# @CHANGE this to your needs
APPLICATION=/storage/projects/www/docker

### PHP version (Does not apply for HHVM)
# PHP_VERSION=56
#PHP_VERSION=70
PHP_VERSION=71

### PHP interpreter
# PHP_INTERPRETER=hhvm
PHP_INTERPRETER=php-fpm

### NGINX Container
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/

### MYSQL Container
# @CHANGE this to your needs
MYSQL_STORAGE_PATH=/storage/data/volumes/mysql
MYSQL_DATABASE=default
MYSQL_USER=docker
MYSQL_PASSWORD=qwerty
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=qwerty

### MYSQL Container
# @CHANGE this to your needs
POSTGRES_STORAGE_PATH=/storage/data/volumes/postgres
POSTGRES_DB=docker
POSTGRES_USER=docker
POSTGRES_PASSWORD=qwerty

### MEMCACHED Container
MEMCACHED_HOST_PORT=11211

### RABBITMQ Container
RABBITMQ_NODE_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=qwerty

### ELASTICSEARCH Container
ELASTICSEARCH_STORAGE_PATH=/storage/data/volumes/elastic
ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300

### MISC
# Replace with your Docker Host IP (will be appended to /etc/hosts)
DOCKER_HOST_IP=172.17.0.1
# Fix for windows users to make sure the application path works.
COMPOSE_CONVERT_WINDOWS_PATHS=1
